In [1]:
import pandas as pd

In [11]:
df = pd.read_csv('data/eu_arms_exports.csv', delimiter=';', header=None)

In [12]:
df.head()

     0   1    2         3  4  5  6  7  8   9          10 11
0  1998   0   AT   Austria                  a       1605
1  1998   0   AT   Austria                  b  208741703
2  1998   0   AT   Austria                  d         13
3  1998   0   BE   Belgium                  a       1067
4  1998   0   BE   Belgium                  b  649671652

In [28]:
df.drop(columns=[11], inplace=True)

In [34]:
columns = ["Year", "Embargo", "Source country","Source country name","Destination country","Destination country name","Region code","Region name","Rating","Category", "Value"]

In [35]:
len(columns)

11

In [36]:
df.columns = columns

In [49]:
df['Source country name'].nunique()

29

In [44]:
exports_df = df.groupby(by = 'Source country name').sum()[['Value']]

In [45]:
exports_df.head()

                           Value
Source country name
                       245986615
 Austria             33383450600
 Belgium             29141822577
 Bulgaria            17091067547
 Croatia              4357555831

In [54]:
exports_df.index = [country.strip() for country in exports_df.index]

In [56]:
exports_df.index

Index(['', 'Austria', 'Belgium', 'Bulgaria', 'Croatia', 'Cyprus',
       'Czech Republic', 'Denmark', 'Estonia', 'Finland', 'France', 'Germany',
       'Greece', 'Hungary', 'Ireland', 'Italy', 'Latvia', 'Lithuania',
       'Luxembourg', 'Malta', 'Netherlands', 'Poland', 'Portugal', 'Romania',
       'Slovakia', 'Slovenia', 'Spain', 'Sweden', 'United Kingdom'],
      dtype='object')

In [57]:
exports_df.to_csv('data/total_exports.csv')

In [59]:
exports_df.loc['Aust', 'Value']

KeyError: 'Aust'

In [62]:
df = pd.read_csv("data/total_exports.csv", index_col=0)

In [64]:
df.loc['Austria', 'Value']

33383450600